
<div id="deck-tracker">
  <select data-ng-model="selectedZone">
    <option value="deck">Deck</option>
    <option value="hand">Hand</option>
    <option value="play">In Play</option>
    <option value="grave">Graveyard</option>
  </select>
  <div class="versus">
    <button data-ng-click="selectedTeam = 'friendly'" data-ng-class="{ selected: selectedTeam === 'friendly'}" class="btn btn-success">{{friendlyName}}</button><span class="vs">vs</span>
    <button data-ng-click="selectedTeam = 'opposing'" data-ng-class="{ selected: selectedTeam === 'opposing'}" class="btn btn-danger">{{opposingName}}</button>
  </div>
  <div class="zones">
    <div data-ng-show="selectedZone === 'deck'" class="deck">
      <ul data-ng-show="selectedTeam === 'friendly'" class="friendly-list">
        <li data-ng-repeat="card in friendlyDeckZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
      <ul data-ng-show="selectedTeam === 'opposing'" class="opposing-list">
        <li data-ng-repeat="card in opposingDeckZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
    </div>
    <div data-ng-show="selectedZone === 'hand'" class="hand">
      <ul data-ng-show="selectedTeam === 'friendly'" class="friendly-list">
        <li data-ng-repeat="card in friendlyHandZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
      <ul data-ng-show="selectedTeam === 'opposing'" class="opposing-list">
        <li data-ng-repeat="card in opposingHandZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
    </div>
    <div data-ng-show="selectedZone === 'play'" class="play">
      <ul data-ng-show="selectedTeam === 'friendly'" class="friendly-list">
        <li data-ng-repeat="card in friendlyPlayZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
      <ul data-ng-show="selectedTeam === 'opposing'" class="opposing-list">
        <li data-ng-repeat="card in opposingPlayZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
    </div>
    <div data-ng-show="selectedZone === 'grave'" class="grave">
      <ul data-ng-show="selectedTeam === 'friendly'" class="friendly-list">
        <li data-ng-repeat="card in friendlyGraveyardZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
      <ul data-ng-show="selectedTeam === 'opposing'" class="opposing-list">
        <li data-ng-repeat="card in opposingGraveyardZone | cardSort">
          <div data-card-thumbnail="data-card-thumbnail" data-card-id="{{card.id}}" data-card-count="{{card.count}}"></div>
        </li>
      </ul>
    </div>
  </div>
  <button data-ng-click="done()" class="btn btn-info">Done</button>
</div>